@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600&display=swap');

/* CSS for Body Element */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #F78770, #FF607B);
}

/* CSS for Calculator Container */
.calc-container {
    display: grid;
    grid-template-columns: repeat(4, 10vmin);
    grid-template-rows: repeat(6, 10vmin);
    gap: 10px;
    padding: 6vmin;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px black solid;
    border-radius: 20px;
}

/* CSS for Output */
.output {
    grid-column: 1 / -1;
    background-color: rgba(107, 107, 107, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

/* CSS for Previous Operand inside Output */
.output .previous-operation {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    color: rgb(206, 206, 206);
    font-size: 1.5vw;
}

/* CSS for Current Operand inside Output */
.output .current-operation {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    color: white;
    font-size: 1.6vw;
}

/* CSS for Elements that span two columns within Container grid */
.span-two {
    grid-column: span 2;
}

/* CSS for each Button */
button {
    font-family: 'DM Sans';
    font-style: normal;
    background: rgb(94, 94, 94);
    border: none;
    color: black;
    font-size: 3.5vmin;
    border-radius: 5px;
}

/* CSS for each Button hover */
button:hover {
    background: rgb(65, 65, 65);
    color: white;
    transition: all 0.15s;
}

/* CSS for Equals button */
.equals {
    background: rgb(84, 84, 255);
}

.equals:hover {
    background: rgb(70, 70, 255);
}

/* CSS for Operation buttons */
.operation {
    background: rgb(134, 255, 130);
}

.operation:hover {
    background: rgb(85, 255, 79);
}

/* CSS for All Clear button */
.all-clear {
    background: rgb(255, 93, 93);
}

.all-clear:hover {
    background: rgb(255, 29, 29);
}

/* CSS for Delete button */
.del {
    background: rgb(255, 198, 92);
}

.del:hover {
    background: rgb(255, 199, 14);
}